/*スクロール用*/
thead.scrollHead,tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height:100px;
}

/*幅調整*/
td,th{
  table-layout:fixed;
}
.no{
  width:30px;
}
.name{
  width:50px;
}
.address{
  width:200px;
}
